<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <title>Cadastrar Avaliação</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">

</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Avalia</b>UnB</a>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">Preencha o formulário para cadastrar uma avaliação</p>

      <form action="/avaliacoes/cadastrar" method="POST">
        <div class="form-group has-feedback">
          <input name="estudante_id" type="text" class="form-control hidden" style="display: hidden;" placeholder="Estudante" value="{{estudante[0]}}" disabled>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          {{ estudante[1] }}
        </div>
        <div class="form-group has-feedback">
          <input name="turma_id" type="text" class="form-control" placeholder="ID da Turma" required>
          <span class="glyphicon glyphicon-education form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input name="avaliacao" type="text" class="form-control" placeholder="Avaliação" required>
          <span class="glyphicon glyphicon-thumbs-up form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
          </div>
        </div>
      </form>

      <a href="/avaliacoes">Voltar para a lista de avaliações</a><br>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

</body>
</html>
